 * {
 	box-sizing:border-box;
	 
 }

html {
	background-color: #acc7dc;
	margin: auto;
}

body {
	width: 59em;
	margin: 1.25em auto 1.25em auto; 
	border: 0.125px rgba(0,0,0,0.4); 
	background-color: #d6dde3;
	border-radius: 6.25em 1.3em;
	box-shadow: 0 0.25em 0.313em 0;
	padding: 3.125em;
}

img:nth-of-type(1){
	transition: transform 0.5s ease-out;
}
img:nth-of-type(1):hover{
	transform: scale(1.25, 1.25);
}

img:nth-of-type(2){
	transition: transform 0.5s ease-out;
}

img:nth-of-type(2):hover{
	transform: scale(1.25, 1.25);
}

img:nth-of-type(3){
	transition: transform 0.5s ease-out;
}	

img:nth-of-type(3):hover{
	transform: scale(1.25, 1.25);
}
	

header {
	border: 2px;
	position: static;
	font-family: 'Josefin Sans', sans-serif;
	
}

header > h1 {
	text-transform: uppercase; 
	text-shadow: 13px 14px 5px rgba(156, 150, 255, 0.53);
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

header > p {
	text-align: center;
}

header > nav > ul > li {
	display: inline;
	text-align: center;
}

header > nav {
	background-color: pink ;
	color: black;
	
	padding: 2px;
	text-decoration: none; 
	text-align: center;
	
}

fieldset:nth-of-type(3){
	display: none;
}

fieldset:nth-of-type(4){
	display: none;
}

a:hover {
	text-decoration: none;
	color: black; 
	background: white;
}

a:visited {
	text-decoration: none;
	color: black; 
}

a:link {
	text-decoration: none;
	color: black; 
	background: white;
	padding: 5px;
}

a:active {
	text-decoration: none;
	color: black; 
	background: white;
}

.visible {
	display: block !important;
}

aside > h1:nth-of-type (1){
	clear: both;
}
	

@media (max-width: 974px) {
    body {
        background: purple; 
    }
    header > h1 {
        color: white; 
    }
    
}
